concessionario{
	background-color:#ffffff;
	width:100%;
	display: table;
}

automobile{
	display:table-cell;
	margin-bottom:30pt;
	margin-left:0;
}

marca, modello, clindrata, colore, optional, prezzo{
	display:table-row;
}

marca {
	font-size: 20pt;
	color: red;
}