negozio_pc {
    display: table;
    background-color: silver;
    color: crimson;
}

marca {
    display: table-row;
    background-color: darkblue;
    color: darkred;
}

cpu, mobo, ram, gpu, psu {
    display: table-cell;
    background-color: darkviolet;
    color: deepskyblue;
}