catena_ristoclub {
    background-color: silver;
    display: table;
}

ristoclub {
    color: red;
    display: table-row;
}

id {
    color: purple;
}

indirizzo, direttore {
    color: darkgreen;
    text-transform: uppercase;
}

menu {
    display: table;
    color: teal;
}

antipasto, primo, secondo, contorno, dessert {
    display: table-row;
}

prenotazione {
    display: table;
}

nome_cliente, data, ora, n_posti, n_tavolo {
    display: table-row;
    color: blue;
}